.panel {
  background-color: var(--bg);
  width: fit-content;
  height: 100%;
  flex-shrink: 0;
}

.wrapper {
  padding: var(--spacing-6) var(--spacing-4);
}

.tab {
  display: flex;
  align-items: center;
  width: 200px;
  padding: var(--spacing-3) var(--spacing-4);

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: var(--spacing-2);
  }
}