:root {
  --button-primary: var(--white);
  --button-primary-bg: var(--primary);
  --button-primary-border: var(--primary);
  --button-primary-bg-hover: color-mix(in srgb, var(--primary), white 10%);
  --button-primary-border-hover: color-mix(in srgb, var(--primary), white 10%);

  --button-secondary: var(--primary);
  --button-secondary-bg: var(--gray-200);
  --button-secondary-border: var(--gray-200);
  --button-secondary-bg-hover: var(--gray-300);
  --button-secondary-border-hover: var(--gray-300);

  --button-tertiary: var(--text);
  --button-tertiary-bg: var(--gray-200);
  --button-tertiary-border: var(--gray-200);
  --button-tertiary-bg-hover: var(--gray-300);
  --button-tertiary-border-hover: var(--gray-300);

  --button-ghost: var(--text);
  --button-ghost-bg: transparent;
  --button-ghost-border: transparent;
  --button-ghost-bg-hover: var(--gray-300);
  --button-ghost-border-hover: var(--gray-300);
}