.wrapper {
  display: flex;
  max-width: 100%;

  &[data-orientation=horizontal] {
    flex-direction: column;
  }

  &[data-orientation=vertical] {
    flex-direction: row;
    width: 100%;
  }
}

.tabList {
  display: flex;
  gap: var(--spacing-1);

  .indicator {
    background: var(--tabs-indicator-bg);
  }

  &[data-orientation=horizontal] {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: clip;
    scrollbar-width: none;

    .indicator {
      inset: 0;
      transition-property: translate, width;
    }
  }

  &[data-orientation=vertical] {
    flex-direction: column;

    .indicator {
      inset: 0;
      transition-property: translate, height;
    }
  }
}

.tab {
  padding: var(--spacing-2) var(--spacing-4);
  cursor: default;
  outline: none;
  position: relative;
  z-index: 1;
  color: var(--tabs-text);
  transition: 200ms;
  border-radius: var(--radius-lg);
  forced-color-adjust: none;
  -webkit-tap-highlight-color: transparent;

  &[data-hovered],
  &[data-focus-visible] {
    color: var(--tabs-text-hover);
    background-color: var(--tabs-bg-hover);
    cursor: pointer;

    .indicator {
      background: var(--tabs-indicator-bg-hover);
    }
  }

  &[data-selected] {
    color: var(--tabs-text-selected);
    background-color: var(--tabs-bg-selected);

    .indicator {
      background: var(--tabs-indicator-bg-selected);
    }
  }
}

.indicator {
  position: absolute;
  transition-duration: 200ms;
  border-radius: 3px;
  border-radius: var(--radius-lg);
  z-index: -1;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}