.wrapper {
  background-color: var(--cv-bg);
  padding: calc(var(--cv-spacing) * 10);
  color: var(--cv-text);
  font-size: var(--cv-font-size);
}

.header {
  display: flex;
}

.personal {
  width: 80%;
}

.name {
  font-size: calc(var(--cv-font-size) * 2);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: calc(var(--cv-spacing) * 1);
}

.designation {
  font-size: calc(var(--cv-font-size) * 1.2);
  text-transform: uppercase;
  font-weight: 500;
  color: var(--cv-primary);
  margin-bottom: calc(var(--cv-spacing) * 6);
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--cv-spacing) * 2);

  &Item {
    display: flex;
    align-items: center;
    font-size: calc(var(--cv-font-size) * 0.9);
    color: var(--cv-text-secondary);
    width: calc(50% - calc(var(--cv-spacing) * 2));
    word-break: break-all;

    svg {
      margin-right: calc(var(--cv-spacing) * 1);
    }
  }
}

.section {
  margin-top: calc(var(--cv-spacing) * 8);

  &Title {
    font-size: calc(var(--cv-font-size) * 0.8);
    text-transform: uppercase;
    font-weight: 500;
    color: var(--cv-primary);
    margin-bottom: calc(var(--cv-spacing) * 2);
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--cv-spacing) * 2);

  &Item {
    padding: calc(var(--cv-spacing) * 1) calc(var(--cv-spacing) * 2);
    border-radius: var(--radius-md);
    color: var(--cv-primary);
    font-weight: 500;
    background-color: var(--cv-primary-light);
    font-size: calc(var(--cv-font-size) * 0.9);
  }
}

.experience {
  display: flex;
  flex-direction: column;
  gap: calc(var(--cv-spacing) * 8);

  &Title {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--cv-spacing) * 1);
  }

  &Designation {
    font-size: calc(var(--cv-font-size) * 1.2);
    font-weight: 700;
  }

  &Period {
    font-size: calc(var(--cv-font-size) * 0.9);
    color: var(--cv-text-secondary);
    margin-left: calc(var(--cv-spacing) * 4);
  }

  &Organization {
    color: var(--cv-primary);
    font-weight: 500;
    margin-bottom: calc(var(--cv-spacing) * 2);
  }
}

.education {
  display: flex;
  flex-direction: column;
  gap: calc(var(--cv-spacing) * 8);

  &Title {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--cv-spacing) * 1);
  }

  &Place {
    font-size: calc(var(--cv-font-size) * 1.2);
    font-weight: 700;
  }

  &Period {
    font-size: calc(var(--cv-font-size) * 0.9);
    color: var(--cv-text-secondary);
    margin-left: calc(var(--cv-spacing) * 4);
  }

  &Program {
    color: var(--cv-primary);
    font-weight: 500;
    margin-bottom: calc(var(--cv-spacing) * 2);
  }
}

.certifications {
  display: flex;
  flex-direction: column;
  gap: calc(var(--cv-spacing) * 8);

  &Title {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--cv-spacing) * 1);
  }

  &Name {
    font-size: calc(var(--cv-font-size) * 1.2);
    font-weight: 700;
  }

  &Date {
    font-size: calc(var(--cv-font-size) * 0.9);
    color: var(--cv-text-secondary);
    margin-left: calc(var(--cv-spacing) * 4);
  }

  &Organization {
    color: var(--cv-primary);
    font-weight: 500;
    margin-bottom: calc(var(--cv-spacing) * 2);
  }
}