body {
  margin: 0;
  font-family: 'Onest', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background-color: var(--bg-1);
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

div[id="root"] {
  height: 100%;
  width: 100%;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}