:root {
  --blue-50: #e6f2fc;
  --blue-100: #cce5f9;
  --blue-200: #99cbf3;
  --blue-400: #3390ec;
  --blue-500: #2b78c5;
  --blue-600: #2361a0;
  --purple-400: #8739F9;
  --orange-400: #eb981b;
  --orange-800: #ff6954;
  --white: #fff;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #616161;
  --gray-700: #424242;
  --gray-800: #333333;
  --gray-900: #212121;
}

:root {
  --primary-50: var(--blue-50);
  --primary-100: var(--blue-100);
  --primary-200: var(--blue-200);
  --primary: var(--blue-400);
  --primary-500: var(--blue-500);
  --primary-600: var(--blue-600);
  --text: var(--gray-900);
  --text-secondary: var(--gray-500);
  --bg: var(--white);
  --bg-1: var(--gray-100);
  --bg-2: var(--gray-200);
}

:root {
  --radius-xs: 0.25rem; /* 4px */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;

  --spacing: 0.25rem; /* 4px */
  --spacing-1: var(--spacing);
  --spacing-2: calc(2 * var(--spacing));
  --spacing-3: calc(3 * var(--spacing));
  --spacing-4: calc(4 * var(--spacing));
  --spacing-5: calc(5 * var(--spacing));
  --spacing-6: calc(6 * var(--spacing));
  --spacing-7: calc(7 * var(--spacing));
  --spacing-8: calc(8 * var(--spacing));
  --spacing-9: calc(9 * var(--spacing));
  --spacing-10: calc(10 * var(--spacing));
}