:root {
  --blue-400: #3390ec;
  --purple-400: #8739F9;
  --orange-400: #eb981b;
  --orange-800: #ff6954;
  --white: #fff;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #616161;
  --gray-700: #424242;
  --gray-800: #333333;
  --gray-900: #212121;
}

:root {
  --primary: var(--blue-400);
}