@use "/src/styles/shared" as shared;

.wrapper {
  width: 100%;
  max-width: 650px;
  padding: var(--spacing-8);
  overflow: auto;

  @include shared.bp-lg {
    display: none;
  }
}

.actions {
  margin-bottom: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--spacing-2);
}

.cv {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mobile {
  display: none;

  &ExportBtn {
    width: 48px;
    height: 48px;
  }

  @include shared.bp-lg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    right: var(--spacing-4);
    bottom: var(--spacing-4);
    z-index: 1;
  }
}