.section {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.wrapper {
  padding: var(--spacing-8);
}

.title {
  margin-bottom: var(--spacing-2);
}

.description {
  margin-bottom: var(--spacing-8);
}

.actions {
  margin-top: var(--spacing-8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}