.main {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  overflow: auto;

  @media print {
    overflow: unset;
  }
}

.cv {
  max-width: 800px;
  margin: 0 auto;

  @media print {
    * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
}

.header {
  max-width: 1000px;
  padding: var(--spacing-4);
  margin: 0 auto;
  
  @media print {
    display: none;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.backBtn {
  width: 40px;
  height: 40px;
}

.tips {
  margin-top: var(--spacing-4);

  &Title {
    margin-bottom: var(--spacing-2);
  }

  &Item {
    font-size: 0.875rem;
    margin-left: var(--spacing-2);
  }
}